@mixin font($fontname, $fontsource, $fontweight, $fontstyle) {
@font-face {
font-family: $fontname;
font-style: $fontstyle;
font-weight: $fontweight;
src: local($fontname),
url('../fonts/'+ $fontname + '/' + $fontsource +'.woff2') format('woff2'),
url('../fonts/'+ $fontname + '/' + $fontsource +'.woff') format('woff'),
url('../fonts/'+ $fontname + '/' + $fontsource +'.ttf') format('truetype');
}
}
@include font('Montserrat', 'Montserrat-Bold', 700, normal);
@include font('Montserrat', 'Montserrat-ExtraBold', 800, normal);
@include font('Montserrat', 'Montserrat-Medium', 500, normal);
@include font('Montserrat', 'Montserrat-Regular', 400, normal);
@include font('Montserrat', 'Montserrat-SemiBold', 600, normal);
